.container {

  width: 1050px;
  margin: 0 auto;
}

li {
    list-style: none;
}

header {
  height: 55px;
}

header h1 {
  float: left;
  margin: 0;
  line-height: 55px;
  font-size: 25px;
  margin-left: 5px;
}

.header-list {
  float: right;
}

.header-list li {
  float: left;
  margin-right: 40px;
  font-weight: bold;
}

.top-wrapper {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  height: 330px;
  text-align: center;
}

.top-wrapper h2 {
  margin-top: 0px;
  padding-top: 80px;
  font-size: 40px;
  letter-spacing: 4px;
}

.title {
  font-size: 25px;
  text-align: center;
}

.main-wrapper {
  height: 450px;
  padding-top: 10px;
}

.main-wrapper img {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 10px 30px;
}

.main-wrapper p {
  float: right;
  width: 50%;
}

.course-wrapper {
  padding-top: 5px;
}

.course-wrapper ul {
  display: flex;
  justify-content: space-between;
}

.course-wrapper li img {
  width: 310px;
}

.course-wrapper p {
  margin-top: 0;
}

.form-wrapper {
  text-align: center;
  padding-top: 10px;
}

.form-wrapper p {
  margin-bottom: 3px;
  font-size: 15px;
}

input {
  width: 600px;
  display: inline-block;
  padding: 8px 5px;
  border-radius: 17px;
  font-size: 15px;
}

.form-wrapper a {
  display: inline-block;
  padding: 12px 80px;
  background-color: rgb(248, 94, 94);
  color: white;
  margin-top: 15px;
  border-radius: 3px;
  text-decoration: none;
}

footer {
  margin-top: 70px;
  text-align: right;
  height: 50px;
}

footer .container {
  border-top: 1px solid darkgray;
}

footer p {
  font-size: 10px;
  margin-top: 8px;
}
